#Lab 3 AI

#program to find numbers divisible by 7 andmultiple of 5 between range of 1500 and 2700

In [ ]:
for i  in range (1500, 2701):
  if (i%7==0) and (i%5==0):
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

#converter for temperature

In [ ]:
def convert_celsius_to_fahrenheit(celsius):
  """Converts Celsius to Fahrenheit."""
  fahrenheit = (9/5) * celsius + 32
  return fahrenheit

def convert_fahrenheit_to_celsius(fahrenheit):
  """Converts Fahrenheit to Celsius."""
  celsius = (5/9) * (fahrenheit - 32)
  return celsius

# Get user input
temperature_value = float(input("Enter the temperature value: "))
temperature_unit = input("Enter the unit (C for Celsius, F for Fahrenheit): ").upper()

# Perform conversion and print result
if temperature_unit == 'C':
  converted_temperature = convert_celsius_to_fahrenheit(temperature_value)
  print(f"{temperature_value} degrees Celsius is equal to {converted_temperature} degrees Fahrenheit.")
elif temperature_unit == 'F':
  converted_temperature = convert_fahrenheit_to_celsius(temperature_value)
  print(f"{temperature_value} degrees Fahrenheit is equal to {converted_temperature} degrees Celsius.")
else:
  print("Invalid unit. Please enter C or F.")

Enter the temperature value: 60
Enter the unit (C for Celsius, F for Fahrenheit): c
60.0 degrees Celsius is equal to 140.0 degrees Fahrenheit.

#Program to guess a number between 1 to 9

In [ ]:
x = 5
while True:
  guess = int(input("guess a number between 1 to 9:  "))
  if guess == x :
    print("Congratulations! you guessed a number prcisely")
    break
  else:
    print("plz try again !")

guess a number between 1 to 9:  7
plz try again !
guess a number between 1 to 9:  9
plz try again !
guess a number between 1 to 9:  5
Congratulations you guessed a number prcisely

#Design a pettern using nested loop

In [44]:
# Increasing pattern
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

# Decreasing pattern
for i in range(4, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

#Reverse the accepted words from the user

In [ ]:
x = input("plz enter a word:  ")
reversed_word = reversed(x)
print(''.join(reversed_word))

plz enter a word:  zeyam ali
ila mayez

#A program to count the number of even and odd numbers from a series of number

In [9]:
numbers = (1,2,3,4,5,6,7,8,9)
count_even = 0
count_odd =0
for i in numbers:
  if i%2==0:
    count_even =count_even+1
  else:
    count_odd = count_odd+1

print(f'"count_even : "{count_even}    "count_odd : "{count_odd}')

"count_even : "4    "count_odd : "5

#A program which prints the item and its type from a list

In [ ]:
list = [1452,11.23,1+2j,True,'w3resource',(0,-1),[5,12],{"class":'V', "section":'A'}]

In [ ]:
print(list[2])
print(type(list[2]))

(1+2j)
<class 'complex'>

#A program whhich prints all numbers from 0 to 6 except 3 and 6
USE CONTINUE STATEMENT

In [19]:
for i in range(0,7):
  if i == 3 or i == 6:
    continue
  else:
   print(i)

0
1
2
4
5

#A program to get the Fibonacci series between 0 to 50

In [26]:
list = []
for i in range(0,50):
  list.append(i)


number_previous =list[0]
number_current_previous = list[1]

fibonacci_list = [0,1]
for i in range(3,11):
  fib_num = number_previous+number_current_previous
  fibonacci_list.append(fib_num)
  number_previous = number_current_previous
  number_current_previous = fib_num


print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#A program which prints "Fizz" for numbers of multiple of 3 and print "buzz" for multipule of 5 and print "FizzBuzz" for both

In [27]:
for i in range(1,51):
  if i%3==0 :
    print("Fizz")
  elif(i%5==0):
    print("Buzz")
  elif(i%3==0 and i%5==0):
    print("FizzBuzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz

#A program that accepts sequence of charachter lines  and prints in lower case

In [29]:
string =  '''I AM ZEYAM ALI AN MACHINE LEARNING
 ENGINEER SPECIALIZED IN NEURAL NETWORKS'''
print(string.lower())

i am zeyam ali an machine learning
 engineer specialized in neural networks

# A program which accepts a binary number of 4 digits and print that  which is divisible of 5

In [34]:
list = []
for i in range(1,5):
  x = int(input("plz enter 4 digits binary numbers : "))
  list.append(x)

print(list)
for i in range(len(list)):
  if int(list[i])%5==0:
    print(list[i])

plz enter 4 digits binary numbers : 1100
plz enter 4 digits binary numbers : 0011
plz enter 4 digits binary numbers : 0010
plz enter 4 digits binary numbers : 1010
[1100, 11, 10, 1010]
1100
10
1010

#A progarm which accepts a tring and count alphabets and digit in it

In [42]:
string = "Python 3.2 "
count_alpha = 0
count_digit = 0
for char in string:
  if char.isalpha():
    count_alpha += 1
  elif char.isdigit():
    count_digit += 1

print("Letters: ", count_alpha)
print("Digits: ", count_digit)

Letters:  6
Digits:  2

#A program takes row(m) and column(n) as input and generates two_dimentional array and the elenments should be i*j

In [43]:
# Get input for number of rows and columns
m = int(input("Enter the number of rows: "))
n = int(input("Enter the number of columns: "))

# Create a 2D array filled with zeros
array_2d = [[0 for j in range(n)] for i in range(m)]

# Fill the array with i*j
for i in range(m):
  for j in range(n):
    array_2d[i][j] = i * j

# Print the 2D array
print(array_2d)

Enter the number of rows: 4
Enter the number of columns: 3
[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]