#Comments in Python

In [13]:
#print(this is a comment)
print(" Comment statement can not run or executeable")

 Comment statement can not run or executeable

#Input & Output

In [14]:
text = input("plz enter your name")
print(text)

plz enter your namezeyam Ali matharu
zeyam Ali matharu

#Multiple statements on a single line

In [15]:
print("zeyam");print("zain");print("rehan")

zeyam
zain
rehan

#Indentation

In [16]:

'''
x==0
x = "my name is zeyam ali"
if x == 0
print(x)
'''

x=0
x = "my name is zeyam ali"
if x == 0:
 print(x)

#Use of Single and Tab Indentation

In [17]:
x=1
if x>0:
    print("we use FOUR SPACES for indentation")
if x<0:
  print("we use a TAB for our indentation")

we use FOUR SPACES for indentation

#Type Checking

In [18]:
#use type function
x = 9.00
print(type(x))

<class 'float'>

In [19]:
x = 9
print(type(x))

<class 'int'>

In [20]:
x = "sharif"
print(type(x))

<class 'str'>

In [22]:
x = str(9.00)
print(type(x))

<class 'str'>

In [23]:
#Boolean Class
x = False
print(type(x))

<class 'bool'>

#Special Chrachters in Python String

In [24]:
print("Zeyam Ali s/o Ismat Ullah  (\\)  s/o Muhammad Sharif")
print("Zeyam Ali s/o Ismat Ullah  \t  s/o Muhammad Sharif")
print("Zeyam Ali s/o Ismat Ullah s/o \' Muhammad Sharif'\ O.K")
print("Zeyam Ali s/o Ismat Ullah s/o   \n   Muhammad Sharif")

Zeyam Ali s/o Ismat Ullah  (\)  s/o Muhammad Sharif
Zeyam Ali s/o Ismat Ullah  	  s/o Muhammad Sharif
Zeyam Ali s/o Ismat Ullah s/o ' Muhammad Sharif'\ O.K
Zeyam Ali s/o Ismat Ullah s/o
   Muhammad Sharif

#List slicing  & indices

In [26]:
list = ["Zeyam","Rehan","Zain","Hashim","Ahsan","Huzaifa","Haroon"]
print(list[1:5])
print(list[-1])
print(list[2:])
print(list[:5])
print(list[1:5:2])
print(list[::2])
print(list[::-1])
print(list[-1::-1])
print(list[-1:-6:-1])
print(list[-6:-1])
print(list[2:5])

['Rehan', 'Zain', 'Hashim', 'Ahsan']
Haroon
['Zain', 'Hashim', 'Ahsan', 'Huzaifa', 'Haroon']
['Zeyam', 'Rehan', 'Zain', 'Hashim', 'Ahsan']
['Rehan', 'Hashim']
['Zeyam', 'Zain', 'Ahsan', 'Haroon']
['Haroon', 'Huzaifa', 'Ahsan', 'Hashim', 'Zain', 'Rehan', 'Zeyam']
['Haroon', 'Huzaifa', 'Ahsan', 'Hashim', 'Zain', 'Rehan', 'Zeyam']
['Haroon', 'Huzaifa', 'Ahsan', 'Hashim', 'Zain']
['Rehan', 'Zain', 'Hashim', 'Ahsan', 'Huzaifa']
['Zain', 'Hashim', 'Ahsan']

In [27]:
#MOVE ONTO NEXT LAB (SECOND)